<section id="Global" class="text-center mt-5 mb-5">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="1500">
            <img src="img/Global.png" class=" img-fluid" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="1500">
            <img src="img/global2.png" class=" img-fluid" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/global3.png" class=" img-fluid" alt="...">
          </div>
        </div>
      </div>
</section>